/* productanalyse.css */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pie-chart, .line-chart {
    width: 400px;
    height: 400px;
    margin: 20px;
}

.line-charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
