.filterContainer {
    display: flex;
    align-items: center;
    color: white;
}
.filterContainer select {
    margin-right: 10px;
}

.totalNumbers{
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid white;
}

thead {
    background-color: #2D8BBA;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #6CE5E8;
}

tbody tr:nth-child(odd) {
    background-color: #41B8D5;
}
